<div class="hero-unit">
	<h1>Welcome to Purfekt!</h1>
	<p>
		You've found the home page for Purfekt application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>

