<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>

	<div class="hero-unit">
		<h1>Welcome to Purfekt!</h1>
		<p>
			You've found the home page for Purfekt application.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>

